// 开发变量定义无需全局引用，按需引用

// 颜色定义规范
$color-background = #fff
$color-background-sub = #000
$color = #a1c205

$color-text-w = #fff
$color-text-g = #666666
$color-border = #a1c205
$color-border-sub = #dddddd

//字体定义规范
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px